//the main stylesheet for the app
.app-container {
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

// a divider to separate sections
.section-divider {
  width: 50%;
  display: block;
  margin: 2rem auto;
  height: 0.5rem;
  border-radius: 15px;;
  background-color: rgba(0, 0, 0, 0.05);

}
