.app-container {
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  padding: 2rem; // Damit du was siehst
}


.section-divider {
  // Seichter Trennstrich
  width: 100%;
  height: 1rem;
  background-color: coral;

}
